table { 
  width: 100vw; 
  height: 100vh; 
  border-spacing: 5px;
}

td {
padding: 15px;
margin: 3px;
border-radius: 6px;
}

tr:nth-child(even) {
background-color: #CCC
}

.btn {
  padding: 8px 15px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  display: inline-block;
}