body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background: #d5006d; /* Цвет заголовка */
    color: white;
    padding: 10px 0;
    text-align: center;
}
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
h2 {
    color: #d5006d;
}
.service {
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
}
.service:last-child {
    border-bottom: none; /* Удаляем границу у последнего элемента */
}
.service h3 {
    margin: 0;
}
.service p {
    margin: 10px 0;
}