{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакты - Салон Маникюра</title>
    <link rel="stylesheet" href={% static "mainpage/about_us.css" %}> <!-- Подключите свой CSS файл здесь -->   
</head>
<body>
<header>
    <h1>О нас</h1>
</header>

<div class="container">
    <h2>Добро пожаловать в наш салон маникюра!</h2>
    <p>Мы - команда профессионалов, которая стремится предоставить вам лучший сервис. В нашем салоне вы сможете насладиться уютной атмосферой и высококачественными услугами по маникюру.</p>

    <h2>Наша команда</h2>
    <p>Наши мастера имеют богатый опыт работы и регулярно проходят обучение, чтобы быть в курсе последних тенденций и технологий. Мы заботимся о каждом клиенте и стремимся сделать ваш визит незабываемым.</p>

    <h2>Наши ценности</h2>
    <p>Мы ценим качество, безопасность и комфорт. В нашем салоне используются только проверенные материалы и инструменты, а также инструменты, отвечающие всем стандартам гигиены.</p>

    <h2>Почему выбирают нас?</h2>
    <ul>
        <li>Профессиональные мастера с опытом работы.</li>
        <li>Индивидуальный подход к каждому клиенту.</li>
        <li>Современное оборудование и материалы.</li>
        <li>Уютная и дружелюбная атмосфера.</li>
        <li>Широкий спектр услуг по доступным ценам.</li>
    </ul>
</div>

</body>
</html>