{% load static %}
<link rel="stylesheet" href={% static "mainpage/calender.css" %}>
<link rel="stylesheet" href={% static "mainpage/calender_now.css" %}>
<link rel="stylesheet" href={% static "mainpage/button.css" %}>
<header>
    {% include "mainpage/menu.html" %}
</header>

<table>
    <tr><th>Время</th><th>ПН</th><th>ВТ</th><th>СР</th><th>ЧТ</th><th>ПТ</th><th>СБ</th><th>ВС</th></tr>
    {% for ts in timeslots %}
    <tr>
        <th>{{ts.time}}</th>
        {% for wd in ts.weekdays %}
        <td>
            {% if wd.free %}
                <!--<a href={% url 'calender_now' %}>FREE</a>-->
                <a href={% url 'visit' ts.datetime %} class="btn">FREE</a>
                <!--<<form action="calender_now.html" target="_blank">
                    <button>FREE</button>
                   </form>-->
            {% else %}
                {{ wd.task.description }}
            {% endif %}
        </td>
        {% endfor %}
    {% endfor %}
    </tr>
</table>