{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакты - Салон Маникюра</title>
    <link rel="stylesheet" href={% static "mainpage/services.css" %}> <!-- Подключите свой CSS файл здесь -->          
</head>
<body>

<header>
    <h1>Наши Услуги</h1>
</header>

<div class="container">
    <h2>Мы предлагаем:</h2>

    <div class="service">
        <h3>Маникюр</h3>
        <p>Профессиональный маникюр с использованием качественных материалов. Мы предложим вам различные техники и дизайны.</p>
    </div>

    <div class="service">
        <h3>Педикюр</h3>
        <p>Расслабляющий педикюр с уходом за ногами. Мы гарантируем комфорт и высокое качество.</p>
    </div>

    <div class="service">
        <h3>Наращивание ногтей</h3>
        <p>Эстетическое наращивание ногтей с применением современных технологий. Долговечность и стильный внешний вид.</p>
    </div>

    <div class="service">
        <h3>Дизайн ногтей</h3>
        <p>Уникальные дизайны на любой вкус. От праздничных до ежедневных вариантов.</p>
    </div>

    <div class="service">
        <h3>Уход за кутикулой</h3>
        <p>Профессиональный уход за кутикулой, который сделает ваши руки ухоженными.</p>
    </div>
</div>

</body>
</html>